body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #7b8a97;
  margin: 0;
  background: #ffffff;
  -webkit-text-size-adjust: 100%;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased !important;
}

.form-group:last-child {
  margin-bottom: 15px;
}

.navbar-brand {
  font: normal normal normal 25px/1em wfont_375882_a964a638e0bb4068b9b0ee3fb0679dae,wf_a964a638e0bb4068b9b0ee3fb,orig_helvetica_neue_w_01_70;
}

.social-links {
  float: right;
}

.main-wrapper {
  position: relative;
  overflow: hidden;
}

a {
  color: #65d3e3;
  text-decoration: none;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

a,
a:active,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
}

a:hover,
a:focus {
  color: #7b8a97;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 10px;
  color: #606676;
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  line-height: 35px;
}

.overlay-bg {
  /*background: #3b2b6a;
  background: linear-gradient(to right, rgba(59, 43, 106, 0.9) 0%,rgba(48, 124, 149, 0.9) 100%,rgba(125, 185, 232, 0.9) 100%);
  background: rgba(86,92,92,0.4); */
  background: rgba(70, 152, 213, 1);
}

/*
.top-bar .overlay-bg {
    padding: 8px 0;
}
*/

.call-to-action ul li a {
  font-size: 12px;
  color: #fff;
}
.call-to-action ul,
.header-social-links ul {
  padding: 4px 0;
  margin-bottom: 0;
}
.call-to-action ul li a:hover {
  color: #fff;
  text-decoration: none;
}

.call-to-action i {
  margin-right: 5px;
}
.social-links li {
  padding-right: 2px;
  padding-left: 2px;
}

.social-links li a {
  color: #fff;
}
.social-links li a .fa-facebook:before,
.social-links li a .fa-twitter:before,
.social-links li a .fa-linkedin:before,
.social-links li a .fa-youtube:before {
  font-size: 20px;
}
a:hover .fa-facebook:before {
  color: #315b97;
}
a:hover .fa-twitter:before {
  color: #00a3f3;
}
a:hover .fa-linkedin:before {
  color: #0074b0;
}
a:hover .fa-youtube:before {
  color: #ff0000;
}

.top-bar .social-links i {
  width: 25px;
  height: 25px;
  font-size: 10px;
  line-height: 25px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

.mainNavigation {
  padding: 10px 0px;
}
.navbar {
  border: 0;
  border-radius: 0;
  margin: 0;
  background: #fff;
  box-shadow: 0 0 0 1px #ededed;
}

.navbar-default .navbar-nav>li>a {
  color: #7b8a97;
}

.navbar-nav>li>a {
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 30px;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
  color: #fff;
  background-color: #65d3e3;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
  color: #fff;
  background-color: #65d3e3;
}

.navbar-default .navbar-nav>li:focus {
  outline: none;
}
.navbar-right .dropdown-menu {
  left: 0 !important;
}

#main-carousel {
  border-top: 1px solid #e4dede;
  border-bottom: 1px solid #e4dede;
}
/* Slider Indicator*/
.hero-slide .carousel-indicators li {
  border: 2px solid rgba(0, 0, 0, .5);
  opacity: .5;
}

.hero-slide .carousel-indicators li.active {
  border-color: #65d3e3;
  background-color: #65d3e3;
  opacity: 1;
}

.hero-slide img {
  min-width: 100%;
}
.hero-slide .container {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.hero-slide .carousel-caption {
  position: relative;
  right: 0;
  left: 100px;
  text-align: left;
  text-shadow: none;
  width: 60%;
}

.hero-slide .carousel-caption small {
  font-size: 13px;
  color: #777777;
  font-weight: 500;
  animation-delay: 1s;
}

.hero-slide .carousel-caption .phone {
  font-size: 30px;
  color: #ff5722;
  -webkit-animation-delay: 100ms;
  animation-delay: 100ms;
}

.hero-slide .carousel-caption h1 {
  font-size: 56px;
  line-height: 1;
  font-weight: bold;
  text-transform: capitalize;
  margin: 30px 0 20px;
  -webkit-animation-delay: 150ms;
  animation-delay: 150ms;
}

.hero-slide .carousel-caption .lead {
  font-size: 24px;
  color: #555555;
  font-weight: normal;
  margin-bottom: 30px;
  -webkit-animation-delay: 200ms;
  animation-delay: 200ms;
}

.hero-slide .carousel-caption .btn {
  -webkit-animation-delay: 250ms;
  animation-delay: 250ms;
}

/* Slider Controller */

.hero-slide .carousel-control.left {
  left: -100%;
  display: table;
  height: 100%;
}

.hero-slide .carousel-control.right {
  right: -100%;
  display: table;
  height: 100%;
}
.hero-slide .fa-angle-left {
  position: absolute;
  top: 15%;
  text-align: center;
  font-size: 36px;
}
.hero-slide .fa-angle-right {
  position: absolute;
  top: 15%;
  text-align: center;
  font-size: 36px;
}
.hero-slide:hover .left {
  left: 0;
}

.hero-slide:hover .right {
  right: 0;
}

a.left.carousel-control,
a.right.carousel-control {
  background: none;
}

a.left.carousel-control {
  left: 100px;
}

a.right.carousel-control {
  right: 100px;
}

.carousel:hover a.left.carousel-control {
  left: 30px;
}

.carousel:hover a.right.carousel-control {
  right: 30px;
}

a.carousel-control {
  top: 45%;
  width: 34px;
  height: 34px;
  line-height: 32px;
  text-align: center;
  opacity: 0;
}

.carousel:hover a.carousel-control {
  opacity: 1;
}

a.carousel-control i {
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  color: #7b8a97;
  display: block;
  z-index: 5;
  padding: 0px;
  line-height: 34px;
  width: 34px;
  height: 34px;
  text-shadow: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

a.carousel-control i:hover {
  background: #ffffff;
  color: #65d3e3;
  text-shadow: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}

.carousel-control.left,
.carousel-control.right {
  background-image: none;
}

.section-padding {
  padding: 20px 0;
}
hr {
  border-top: 1px solid #cabebe;
}

.service-thumb-home {
  position: relative;
  margin-bottom: 30px;
  vertical-align: middle;
}

.service-thumb-home a {
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  vertical-align: middle;
}

.service-thumb-home a::before {
  content: "";
  background: #3b2b6a;
  background: linear-gradient(to right, rgba(59, 43, 106, 0.6) 0%,rgba(48, 124, 149, 0.6) 100%,rgba(125, 185, 232, 0.6) 100%);
  position: absolute;
  top: 0;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
}

.service-thumb-home a:hover::before {
  opacity: 1;
}

.service-thumb-home img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
}

.service-home h3 {
  margin-bottom: 15px;
}
.service-home .readmore {
  display: inline-block;
  margin-top: 10px;
}
#testimonial-carousel img {
  border-radius: 50%;
}
.feature-section {
  background: linear-gradient(to right, rgba(95,86,143,1) 0%, rgba(95,168,236,1) 100%);
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  color: #fff;
  border-top: 2px solid #ffba3c;
  border-bottom: 2px solid #ffba3c;
  margin-top: 20px;
}

.feature-section h2 {
  color: #fff;
  margin-bottom: 35px;
}

.feature-section p {
  margin-bottom: 22px;
}

.feature-section .btn {
  margin-top: 22px;
}

.feature-section .btn:hover {
  background-color: rgba(101, 211, 227, 0.7) !important;
}

.testimonial-section {
  background-color: #f4f6f7;
  position: relative;
  overflow: hidden;
}

.testimonial-content {
  padding-bottom: 50px;
}

.testimonial-content p {
  font-size: 18px;
  line-height: 30px;
  font-style: italic;
}

.testimonial-content .client-title {
  display: block;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: #bfc4d2;
  margin-top: 42px;
}

#testimonial-carousel .carousel-indicators {
  bottom: -3px;
}

#testimonial-carousel .carousel-indicators li {
  width: 18px;
  height: 5px;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid transparent;
  border-radius: 10px;
}

#testimonial-carousel .carousel-indicators .active {
  width: 18px;
  height: 5px;
  background-color: #65d3e3;
  border: 1px solid transparent;
}

.footer-widget-section {
  background: #2a2f33;
  color: #8a8a8a;
  padding: 20px;
}
.footer-widget-section h2 {
  border-bottom: 1px solid #8a8a8a;
  font-size: 26px;
  color: #b1bfc5;
}
.copyright-section {
  background: #252a2e;
  color: gray;
  font-size: 14px;
}

.footer-widget .fa-facebook,
.footer-widget .fa-linkedin,
.footer-widget .fa-twitter,
.footer-widget .fa-youtube {
  background: rgba(70, 152, 213, 1);
  padding: 10px;
  border-radius: 20px;
  color: snow;
  margin: 5px;
  width: 35px;
  height: 35px;
}
.footer-widget .fa-facebook {
  padding-left: 12px;
}

.copyright-info {
  padding: 5px;
}

img {
    max-width: 100%;
    height: auto;
}

